* {
    margin: 0;
    padding: 0;
    
}

/* --------------------------------- HEADER --------------------------------- */

.form-control{
    width: 220px;
}
.navbar-brand{
    font-variant: small-caps;
    font-size: 25px;
    background:url(img/animated-text-fill.png)repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titulo 30s linear infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    font-weight: bold;
    line-height: normal;
}
@keyframes titulo {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* ---------------------------------- MAIN ---------------------------------- */

.img__fondo{
    background-image: url(img/fondoIndex.png);
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-size: cover;
    
}
.fondo__toggle{
    background-image: url(img/fondoindex2.jpg);
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-size: cover;

}
.capa__main{
    box-shadow: 0px 0px 20px 10px whitesmoke;
    background-color: #212529;
    opacity: 90%;
    margin: 100px 200px;
}
.capa__main h1{
    color: black;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 45px;
    overflow-y: hidden;
    text-align: center;
}
.capa__main h2{
    color: black;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 40px;
    overflow-y: hidden;
    text-align: center;
}
.portada{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.portada img{
    position: absolute;
    z-index: 999;
    width: 400px;
    height: 400px;
}
.lista__pj{
    background-color: #797979;
    border: 1px solid black;
    margin-top: 80px;

}
.lista__pj ul{
    font-weight: bolder;
}
.spam__dk{
    color: red;
}
.spam__dw{
    color: blue;
}
.spam__fe{
    color: green;
}
.spam__mg{
    color: rosybrown;
}
.spam__dl{
    color:gold
}
.spam__sum{
    color: blueviolet;
}
.test__pj{
    background-color: #797979;
    border: 1px solid black;
    margin-top: 80px;
}
.test__pj p{
    font-weight: bolder;
}
.carro__items{
    background-color: #797979;
    border: 1px solid black;
    margin-top: 80px;
}
.carro__items p{
    font-weight: bolder;
}

.shop__border{
    border: 2px solid black;
    background-color: #797979;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.shop__border img{
    width: 150px;
    height: 150px;
}
.shop__border p{
    color: black;
    font-weight: bolder;
}
.conteiner{
    margin-top: 5px;
}

#btnScroll{
    display: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
}
#btnScroll:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.2);
}

#fecha{
    color: whitesmoke;
    background-color: #001278;
    text-align: center;
    width: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}
/* -------------------------------- TEST PERSONAJES ------------------------------- */
/* PANTALLA INICIO */
#pantallaInicial{
    display: block;
    text-align: center;
    font-size: 30px;
}
#pantallaInicial{
    margin: 60px 0;
    color: black;
}
.boton{
    border: none;
    background: #000878;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}
/* PANTALLA juego */
#pantallaJuego{
    display: none;
}
.pantalla__juego{
    margin: 50px auto;
    text-align: center;
}
.pantalla__juego img{
    max-width: 200px;
    width: 100%;
}
.opciones{
    max-width: 400px;
    margin: auto;
}
.opcion{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
    cursor: pointer;
}
.opcion .letra{
    background-color: #001278;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    border: 5px solid #fff;
    position: relative;
}
.opcion .nombre{
    background: #fff;
    width: 100%;
    font-size: 25px;
    position: absolute;
    margin-left: 30px;
    z-index: -2;
    border-radius: 0 20px 20px 0;
    
}
/* clases que se aplicará cuando haya acertada la opcion  */
.opcion .nombreAcertada{
    background-color: yellowgreen;
    color: #fff;
}
.opcion .letraAcertada{
    background-color: yellowgreen;
    color: #fff ;
}
/* clases que se aplicaran cuando se equivoque en la opcion elegida */
.opcion .nombreNoAcertada{
    background-color: darkred;
    color: #fff;
}
.opcion .letraNoAcertada{
    background-color: darkred;
    color: #fff;
}

/* PANTALLA final */
#pantallaFinal{
    display: none;
    text-align: center;
}
#pantallaFinal #numCorrectas{
    background-color: chartreuse;
    display: inline-block;
    width: 50px;
    height: 50px;
}
#pantallaFinal #numIncorrectas{
    background-color: darkred;
    display: inline-block;
    width: 50px;
    height: 50px;
}
/* --------------------------------- FOOTER --------------------------------- */
.footer__p{
    color: rgb(2, 16, 77);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    background-color: #797979;
}